* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

input[type='text'], input[type='email'], select, textarea {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
    width: 95%;
    margin: 20px 0;
}

form {
    width: 95%;
}

.main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(197, 170, 118), rgb(103, 162, 103));
}

.form-area {
    background-color: rgb(222, 222, 236);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    margin-top: 20px;
}

input[type='text']:focus, input[type='email']:focus, select:focus, textarea:focus {
    outline: none;
}

span sup {
    font-size: small;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 10px 0;;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input[type='submit'] {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 428px) {
    input[type='text'], input[type='email'], select, textarea {
        width: 100%;
    }

    .form-area {
        width: 95%;
        box-shadow: none;
        margin-top: 0;
    }

    .main {
        width: 100%;
        height: 100vh;
    }

    .flush-right{
        display: flex;
        justify-content: center;
    }
   
}